.hiddenUp {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-20%);
    transition: all 1s;
}

.hiddenDown {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 1s;
}

.hiddenLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-20%);
    transition: all 1s;
}

.hiddenRight {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(20%);
    transition: all 1s;
}

.showY {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.showX {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
